*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    color: red;
    text-wrap: balance;
}

html, body{
    inline-size: 100vw;
}

body{
    overflow-x: hidden;
}

.header{
    inline-size: 100vw;
    block-size: 9.5rem;
    text-align: center;
    padding-block-start: 2.5em;
    background-color: black;
}

.title{
    padding-inline: 1em;
}

.nav{
    block-size: 4rem;
    inline-size: 15rem;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    margin-block-end: 1rem;
    margin-block-start: 3rem;
    /* border: 1px blue solid; */
    border-radius: 5px;
    background-color: red;
}

.wrapper{
    inline-size: 100%;
    block-size: 100%;
    position: relative;
}

.links-container{
    min-block-size: 100%;
    inline-size: 33%;
    /* display: inline; */
    position: absolute;
    top: 0%;
    text-align: center;
    z-index: 5;
    /* background-color: blueviolet; */
}
.link{
    block-size: 100%;
    inline-size: 100%;
    position: absolute;
    border-radius: 5px;
    padding-block: 1em;
    /* top: 0%; */
    text-align: center;
    background-color: blueviolet;
    transition: all 0.25s ease-in;
    cursor: pointer;
}

.links-container:nth-of-type(1){
    left: 0;
}
.links-container:nth-of-type(1) > .link{
    left: 0;
}
.links-container:nth-of-type(1):hover > .link{
    left: -20px;
    background-color: red;
}

.links-container:nth-of-type(2){
    left: 50%;
    transform: translateX(-50%);
}
.links-container:nth-of-type(2) > .link{
    top: 0%;
}
.links-container:nth-of-type(2):hover> .link{
    top: -20px;
    background-color: red;
    /* left: 50%;
    transform: translateX(-50%); */
}

.links-container:nth-of-type(3){
    right: 0px;
}
.links-container:nth-of-type(3) > .link{
    right: 0px;
}
.links-container:nth-of-type(3):hover> .link{
    right: -20px;
    background-color: red;
}

/* .btn:hover{
    background-color: red;
} */


#container{
    display: grid;
    grid-template-columns: repeat(1, auto);
    --gap: 1em;
    gap: var(--gap);
    inline-size: 80vw;
    margin: 10rem auto;
    /* background-color: yellowgreen; */
}

@media (min-width: 500px){
    #container{
        grid-template-columns: repeat(2, auto);
    }
}

@media (min-width: 850px){
    #container{
        grid-template-columns: repeat(3, 1fr);
        --gaps: 2rem;
    }
}

.cardContainer{
    block-size: 25em;
    inline-size: 20em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}

img{
    block-size: 15em;
    inline-size: 12em;
    margin: 5px auto;
    border-radius: 5px;
}

.cardContainer p {
    margin-block: 0.25em;
}