*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    color: white;
    text-wrap: balance;
}

.header{
    inline-size: 100vw;
    block-size: 9.5rem;
    text-align: center;
    padding-block-start: 2.5em;
    background-color: black;
}

.title{
    padding-inline: 1em;
}

.nav{
    block-size: 4rem;
    inline-size: 15rem;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    border: 1px blue solid;
    border-radius: 5px;
    /* background-color: red; */
}

.wrapper{
    inline-size: 100%;
    block-size: 100%;
    position: relative;
}

.links-container{
    min-block-size: 100%;
    inline-size: 33%;
    /* display: inline; */
    position: absolute;
    top: 0%;
    text-align: center;
    background-color: blueviolet;
}

.links-container:nth-of-type(1){
    left: 0;
}
.links-container:nth-of-type(1):hover{
    left: -50px;
}
.links-container:nth-of-type(2){
    left: 50%;
    transform: translateX(-50%);
}
.links-container:nth-of-type(2):hover{
    top: -50px;
    /* left: 50%;
    transform: translateX(-50%); */
}
.links-container:nth-of-type(3){
    right: 0px;
}
.links-container:nth-of-type(3):hover{
    right: -50px;
}
